<div class="p-5 rounded-lg text-color-custom">
    <h2 class="title-post-custom text-center">Categorias</h2>
    <hr class="my-3">
    <div class="text-center">
        <a href="/admin/categories/add"><button class="btn btn-custom my-3">Adicionar categoria</button></a>
    </div>

    {{#each categories}}
        <div class="card mb-4 mt-4 card-custom">
            <div class="card-body">
                <h4 class="list-title-custom">{{nome}}</h4>
                <small class="small-custom">Descrição: {{description}}</small><br>
                <small class="small-custom">Slug: {{slug}}</small><br>
                <small class="small-custom">Data de criação: {{date}}</small><br>
                <div class="d-flex justify-content-between mt-3">
                    <a href="/admin/categories/edit/{{id}}"><button class="btn btn-success">Editar categoria</button></a>
                    <a href="/admin/categories/delete/{{id}}"><button class="btn btn-danger">Deletar categoria</button></a>
                </div>
                    {{!-- <form action="/admin/categories/delete" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger mt-2">Deletar categoria</button>
                    </form> --}}
            </div>
        </div>
    {{else}}

        <h4 class="mt-3">Nenhuma categoria registrada!</h4>

    {{/each}}

</div>
