<h2>Lista de publicações: </h2>
<hr>
<div class="text-center">
    <a href="/admin/posts/add"><button class="btn btn-primary">Adicionar categoria</button></a>
</div>

{{#each posts}}
    <div class="card mt-4 mb-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{description}}</p>
            <p>{{content}}</p>
            <small>Data: {{date}}</small><br>
            <small>Categoria: {{categorie.nome}}</small><br>
            <a href="/admin/posts/edit/{{id}}"><button class="btn btn-success mt-3">Editar publicação</button></a>
            <a href="/admin/posts/delete/{{id}}"><button class="btn btn-danger mt-3">Deletar publicação</button></a>

        </div>
    </div>
{{else}}
    <p>Nenhuma publicação registrada</p>
{{/each}}