<div class="p-5 rounded-lg text-color-custom">
    <h1 class="display-4 h1-custom">Sobre</h1>
    <p class="lead mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <p class="lead">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    <hr class="my-4 mt-5">

    <h2 class="text-center mt-5 text-color-custom">Publicações recentes</h2>

    {{#each posts}}
    <div class="card mt-4 text-color-custom card-custom">
        <div class="card-body">
            <div class="btn-group d-flex justify-content-between">
                <h3 class="title-custom">{{titulo}}</h3>
                {{#if user}}
                <form action="/saves/new/{{id}}" method="POST">
                    <button type="submit" style="background-color: #121212; border: none;"><img alt="logo" width="30px" class="" style="background-color: #121212;" src="https://papik.pro/uploads/posts/2022-08/thumbs/1661459344_19-papik-pro-p-beloe-serdtse-stiker-png-19.png"></button>
                </form>
                {{else}}
                {{/if}}
            </div>
            <p class="desc-custom">{{description}}</p>
            <a href="/post/{{slug}}"><button class="btn text-color-custom btn-custom">Leia mais</button></a>
            <hr>
            <div class="d-flex-custom justify-content-between">
                <small class="small-custom">Categoria: {{categorie.nome}}</small><br>
                <a class="small-custom">Autor(a): {{author}}</a>
            </div>
            <small class="small-custom">Data de publicação: {{date}}</small>
        </div>
    </div>
    <br>

    {{else}}
        <h5>Nenhuma publicação</h5>
    {{/each}}

</div>

